.container {
    background-color: #84D375;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    position: relative;
}
.estructura{
    background-color: #fff;
    position: static;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 8px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.entrada{
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 450px;
    height: 150px;
    width: 100px;
    margin: 0 auto;
    padding: 20px;
    
}

.bloque1{
    width: 266px;
    height: 150px;
    border: 4px solid black;
    margin: -25px;
    margin-bottom: 30px;
   
    
}
.bloque2{
    float: right;
    width: 266px;
    height: 150px;
    border: 4px solid black;
    margin: -25px;
    margin-bottom: 20px;
   
    
}
.bloque3{
    float: right;
    width: 290px;
    height: 150px;
    border: 4px solid black;
    margin: -25px;
   
    
}

.bloque4{
    
    
    margin: right  20px;
    width: 200px;
    height: 140px;
    border: 4px solid black;
    margin: -25px;
   background-color: #84D375;
   
    
}
.bloque7{
    
    
    margin: right  20px;
    width: 200px;
    height: 80px;
    border: 4px solid black;
    margin: -25px;
   background-color: #c300ff;
   
    
}

.bloque5{
    float: right;
    margin-top: 300px;
    width: 290px;
    height: 200px;
    border: 4px solid black;
    margin: -25px;
   background-color: #ce1313;
   margin: right     100px;
    
}


.bloque6{
    float: left;
    margin-top: 300px;
    width: 220px;
    height: 200px;
    border: 4px solid black;
    margin: -25px;
    background-color: #1328e4;
}

