
.container {
    background-color: #84D375;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    position: relative;
}
.estructura{
    background-color: #fff;
    position: static;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 8px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.entrada{
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 450px;
    height: 200px;
    width: 100px;
    margin: 0 auto;
    padding: 20px;
    
}



.bloque1{
    width: 268px;
    height: 150px;
    border: 4px solid black;
    margin: -25px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zona1{
    margin: 0; 
    line-height: 300px;
}

.entrada1{
    width: 50px;
    height: 50px;
    background-color: brown !important;
    margin-left: 20%;
    z-index: 9;
}

.bloque2{
    width: 250px;
    height: 200px;
    border: 4px solid black;
    margin: -25px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zona2{
    margin: 0; 
    line-height: 300px;
}






